/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
.hoge {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restart {
  
}
.fin {
  font-size: 100px;
  color: red;
}

button {
  color: red;
  background-color: black;
  font-size: 50px;
  margin-left: 180px;
}
.restart {
  font-size: 50px;
}